name: Run gittuf demo
on:
  push:
    branches: ['main']
  pull_request:
  workflow_dispatch:
jobs:
  run-demo:
    name: Run demo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout demo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.13'
      - name: Install gittuf
        uses: gittuf/gittuf-installer@3408aeb2a325ce88ff482b3b964322cd9d6bea22
        with:
          gittuf-version: 'main'
      - name: Run demo with --no-prompt
        run: |
          python3 run-demo.py --no-prompt
