name: Run gittuf demo
on:
  push:
    branches: ['main']
  pull_request:
  workflow_dispatch:
jobs:
  run-demo:
    name: Run demo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout demo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.13'
      - name: Install gittuf
        uses: gittuf/gittuf-installer@3408aeb2a325ce88ff482b3b964322cd9d6bea22
        with:
          gittuf-version: 'main'
      - name: Run demo with --no-prompt
        run: |
          python3 run-demo.py --no-prompt
